@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Grechen+Fuemen&family=Lilita+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Hanunoo&family=Pacifico&family=Permanent+Marker&family=Piedra&family=Rubik+Vinyl&display=swap');

:root{
    --prime:#ffffff;
    --sec:navy;
    --shado:0 0 10px black;
    --box:red;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.block2{
    animation: up linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35% ;
}
@keyframes up {
    from{
     
        opacity: 0;
        scale: 0;
        z-index: -1;
        background-color: transparent;
    }
    to{
        opacity: 1;
    }
}
.block1{
    animation: left-side linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35% ;
}
@keyframes left-side {
    from{
        opacity: 0;
        transform: translateX(-400px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.block{
    animation: moves linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35% ;
}
@keyframes moves {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.logo > h2{
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}
nav{
    background-color: var(--sec);
    color: var(--prime);
    padding: 20px;
    min-height: 13vh;
    position: fixed !important;
    width: 100%;
    z-index: 999;
}
.link-co{
    display: flex;
    gap: 20px;
}
.link-co > label 
,.link-co > input{
    display: none;
}
.links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: var(--prime);
    font-size: 1.2rem;
    scroll-behavior: smooth;
    padding: 1px 10px;
    border-radius: 10px;
    position: relative;
}
.links a:hover{
    transition: all 1s;
    background-color: var(--prime);
    color:navy;
}
.links a::before{
    content: "";
    width: 0%;
    position: absolute;
    background-color: white;
    height: 4px;
    bottom: -10px;
    left: 35px;
}
.links a:hover::before{
    width: 100%;
    transition: all 0.6s;
    left: 0;
}
/* check box */
input:checked~.links{
    right: 0;
    top: 60px;
    opacity: 0.7;
    transition: all 0.5s;
    transform: rotate(0deg);
}
/* header */
header{
    min-height: 80vh;
    background:url(../images/bike-s2.jpg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--box);
    text-align: center;
}
header > .h-txt > h1{
    font-size: 3.5rem;
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
}
.h-txt > h4 > a{
    text-decoration: none;
    color: white;
}
.h-txt > h4 > a:hover{
     color:var(--box)
}
.h-txt > h4 > a::after {
    content: ">>";
}
.h-txt > h4 > span::after{
    content: "..!";
}
/* services*/
.t-box > .up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:black;
    font-size: 30px;
    display: grid;
    place-content: center;
    position:fixed;
    z-index: 1;
    right:20px;
    bottom:20px;
}
.up > a{
  color:red;
}
.team{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .team > h1{
      margin-bottom: 50px;
      font-family: "Rubik Vinyl", serif;
      font-weight: 400;
      font-style: normal;
      color: var(--box);
  }
  .team > h1::before{
      content: "---";
  }
  .team > h1::after{
      content: "---";
  }
  .t-box{
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      padding: 20px;
      justify-content:space-evenly;
      align-items: center;
  }
  .t-box > .box{
      width:400px;
      min-height: 300px;
      padding: 30px;
      background-color:var(--sec);
      border-radius: 0px 0px 0px 100px;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      display: flex;
      text-align: center;
      color: var(--prime);
  }
  .box:before {
      content: "";
      position: absolute;
      top: -40px;
      left: 0;
      height: 40px;
      width: 40px;
      background: transparent;
      /* border-radius of pseudo element */
      border-bottom-left-radius: 50%;
      /* box shadow to give the shadow of the pseudo-element the same color as the background */
      box-shadow: 0 20px 0 0 navy;
    }
    .box::after {
      content: "";
      position: absolute;
      top: -40px;
      right: 0;
      height: 40px;
      width: 40px;
      background: transparent;
      /* border-radius of pseudo element */
      border-bottom-right-radius: 50%;
      /* box shadow to give the shadow of the pseudo-element the same color as the background */
      box-shadow: 0 20px 0 navy;
    }
  .box > h3{
      color: white;
      position: relative;
      margin: 20px 0;
      position: relative;
  }
  .box > h3:before{
      content: "";
      position: absolute;
      bottom: -5px;
      right: 0;
      background-color: var(--box);
      height: 3px;
      width: 100%;
  }
  .box > i{
      font-size: 35px;
      background-color: var(--box);
      width: 70px;
      height: 70px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      border: 2px solid red;
      padding:2px;
      animation: rot-ico infinite 3s;
  }
  @keyframes rot-ico{
      from{
          transform: rotatey(180deg);
          opacity: 0.3;
          box-shadow: 0 0 10px white;
      }
      to{
          scale: 1.1;
          box-shadow: 0 0 10px white;
      }
  }
  .box > button{
      border-radius: 20px 0px;
      background-color: var(--box);
      text-transform: capitalize;
      box-shadow: 0px 4px white;
      font-weight: bold;
      margin: 20px 0px;
      color: var(--prime);
  }
  /* s-details*/
  .details{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 80px;
  }
  .details > .e-box{
    width: 90%;
    display: flex;
    gap: 50px;

  }
  .e-box > .e-pho{
    width: 50%;
  }
  .e-box > .e-pho > img{
    width: 100%;
    height:400px;
  }
  .e-txt > button{
    padding: 5px 20px;
    border: 2px double white;
    border-radius:10px ;
    box-shadow: 0 5px navy;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--prime);
    background: var(--sec);
  }
  .e-txt > h2{
    color:var(--box);
  }
  .e-box2 > .e-pho{
    order: 1;
  }
  /*machine*/
.m-team{
    min-height: 100vh;
    background: var(--prime);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.m-team > h1{
    margin-bottom: 30px;
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--box);
}
.m-team > h1::after{
    content: "---";
}
.m-team > h1::before{
    content: "---";
}
.m-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.m-cover > .m-pic{
   width: 300px;
   height: 300px;
   background-color:var(--prime);
   position: relative;
}
.m-pic > .mc-txt{
    transform: translateY(0px);
    opacity: 0;
    background: rgba(255, 255,255, 0.5);
    padding: 6px;
}
.m-pic:hover > .mc-txt{
    transform: translateY(-100px);
    opacity: 1;
    transition: all 1s;
}
/* footer */
footer{
    background:rgb(28, 25, 25);
    min-height: 30vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: var(--prime);
}
footer > .end{
   display: flex;
   justify-content:center;
   align-items: center;
   padding: 10px;
}
.end > .e-box{
   width:30%;
   display: grid;
   place-content: center;
}
.e-box > h3{
    color: red;
}
.e-icon{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.e-icon > i{
    margin: 10px 0;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}
.e-icon >i:hover{
    color: var(--box);
    text-shadow: 0 0 20px red;
}
.e-box1 > a{
   text-decoration: none;
   margin: 5px 0;
   color: var(--prime);
}
.e-box1 > a:hover{
    color:var(--box);
    scale: 1.1;
}
.e-box3 > p > i{
    margin-right:5px;
    font-size: 25px;
}
.e-box3 >p:hover{
    text-decoration: underline;
    color: var(--box);
}
@media only screen and (max-width: 700px){
    .link-co > label 
    {
        font-size: 2rem;
        display: block;
    }
    header{
        min-height: 100vh;
    }
    /* navbar for the mobile */
    .links{
        flex-direction: column;
        position: fixed;
        top: -240px;
        right: -200px;
        height: 50vh;
        background-color: var(--sec);
        width:50% ;
        transform: rotatex(60deg);
        opacity: 0;
    }
     /* service box */
     .team{
        padding: 10px;
    }
    .t-box{
        padding: 0;
    }
    .t-box > .box{
        padding: 10px;
        width: 90%;
        border-radius: 0 0  10px;
        font-size: 15px;
    }
    /* details */
    .e-box > .e-txt{
        font-size: 10px;
    }
    .e-txt > h2 {
        font-size: 20px;
    }
    .e-txt > h4 {
        font-size: 15px;
    }
    .e-box > .e-pho{
        width: 100%;
    }
    .e-box{
        flex-direction: column;
    }
    .details > .e-box{
        gap: 0;
    }
    .e-box2 > .e-pho{
        order: 0;
    }
    .e-box2{
        align-self:center;
    }
    .details{
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
     /* mech */
     .m-team{
        padding: 20px;
    }
    .m-cover > .m-pic{
        width: 90%;
    }
     /* footer */
     footer >  .end{
        flex-direction: column;
        justify-content: flex-start;
        gap: 70px;
    }
    .end > .e-box{
        width: 100%;
       place-content: start;
    }
}
@media only screen and (max-width: 900px) and (min-width:700px){
      /* service */
      .t-box > .box{
        width: 90%;
    }
    /* ser-details */
    .details > .e-box{
        gap: 0;
    }
    .e-box > .e-pho{
        width: 100%;
    }
    .e-box{
        flex-direction: column;
    }
    .e-box2 > .e-pho{
        order: 0;
    }
    .e-box > .e-txt{
        font-size: 15px;
    }
     /* footer */
     footer > .end{
        gap: 30px;
    }
    .end > .e-box{
        width: 40%;
    }
    .e-icon > i{
        font-size:30px ;
    }

}
